.background-container {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../CSIT_photos/motherboardbanner.jpg');
  position: relative;
}

.container {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    background-color: var(--primary-green);
    border-radius: var(--border-radius-4);
}

.container h1 {
  font-family: var(--font-heading-primary);
  color: var(--neutral-white);
  text-align: center;
  font-weight: 900;
}

.container h3 {
    font-family: var();
    color: var(--accent-yellow);
    text-align: center;
    font-size: var(--font-size-body);
}