.background-container {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../CSIT_photos/resized_MB.png');


}

.img-con img {
  
  
}

