:root {
    --primary-green: #008142;
    --accent-yellow: #FFCF01;
    --neutral-black: #333333;
    --neutral-white: #F5F5F5;
    --neutral-gray: #CCCCCC;
    --alert-red: #FF6F61;
}

/* Desktop styles */

/* General styles */

h1 {
    background-color: var(--accent-yellow);
}

/* Hero section */

#hero-sect {
    text-align: center;
}

#hero-sect h1 {
    margin-bottom: 0;
}

#hero-sect img {
    max-width: 80%;
    border: 0.5rem solid var(--accent-yellow);
}

#hero-sect p {
    color: var(--primary-green);
}

/* Overview section */

#overview-sect {
    background-color: var(--neutral-black);
    text-align: center;
}

#overview-sect {
    color: var(--neutral-white);
}

#instructor {
    background-color: var(--primary-green);
}

#instructor h3 {
    color:var(--accent-yellow);
    border-bottom: 0.1rem solid var(--neutral-white);
    margin-left: 5%;
    margin-right: 5%;
}

#instructor img {
    max-width: 50%;
}

/* Certs section */

#certs-sect {
    color: var(--primary-green);
    font-weight: bold;
}

.flex-container {
    display: grid;
} /* Move this somewhere else later */

#certs-container {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    text-align: center;
}

#certs-container img {
    width: 50%;
}

.divider-line {
    border-bottom: 0.2rem solid var(--primary-green);
    margin-right: 15%;
    margin-left: 15%;
}

/* Career Information section */

#career-info-sect {
    text-align: center;
}

#career-info-sect table {
    margin: 0 auto;
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}

#career-info-sect table th {
    height: 2.5rem;
    background-color: var(--primary-green);
    color: var(--neutral-white)
}

#career-info-sect table td {
    border: 1px solid black;
    height: 2rem;
}